/*  header */
.body{
    margin: 0%;
}
.all-header {
    position: relative;

}

.all-header-text {
    position: absolute;
    width: 525px;
    height: 228px;
    left: 845px;
    top: 216px;
    color: black;

}

.headline {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;

}

.headline-small {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}


.btn-primary {
    background-color: orangered;
    width: 160px;
    height: 64px;
    color: aliceblue;
    border: none;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    
    border-radius: 5px;
}

.hot-deals{
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
}